*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.major{
    width: 100%;
}
.major .lead{
    font-weight:600 ;
    color: rgb(4, 4, 53);
    text-align: center;
    margin: 2rem auto;
}
#sec1{
    width: 50%;
    margin: 2rem auto;
    border: 4px black solid;
    padding: 2rem 2rem;
}
#sec1 .medium{
    font-weight: 600;
}

#sec2{
    width: 50%;
    margin:auto;
    background: lightgreen;
    padding: 2rem 2rem;
    
}
#sec2 .medium{
    font-weight: 600;
}
